.bg {
    height: 1440px;
    background: url("../img/dfc1ee2b22d44fab58e4c472b477d506.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}
.header {
    text-align: center;
    width: 100%;
    color: aqua;
}
.header_span {
    color: black;
}
.box {
    width: 408px;
    height: 453px;
    margin: 15px;
    display: inline-block;
    border-radius: 10px;
    box-shadow: #FFFEFE;
    box-shadow: 0 0 8px rgba(0,0,0,0.5);
    padding: 3px;
}
.content {
    padding-top: 300px;
    padding-left: 400px;
    color: white;
    background: url("../img/flag.png");
    background-size: 19px auto;
    background-repeat: no-repeat;
    background-position-x: 300px;
    background-position-y: 200px;
}
.h2_geo {
    border-bottom: 5px solid aqua;
    width: 170px;
}
.h2_geo2 {
    border-bottom: 5px solid aqua;
    width: 234px;
    text-align: center;
    display: block;
}
.bg_down {
    text-align: center;
}

.img_cl{
    text-align: center;
}




@media only screen and (max-width: 680px){
    .bg {
        background: url("../img/dfc1ee2b22d44fab58e4c472b477d506.jpg");
        background-repeat: no-repeat;
        background-size: 100%;

    }
    .header {
        text-align: center;
        width: 100%;
    }
}